{% extends "monitor/layout.html" %}

{% block content %}
    <div class="column is-8 is-offset-2">
        <div class="box">
            <p class="title">Configuración de sondeo actual</p>
            <table class="table is-striped">
                <tr>
                    <th>Intervalo de monitoreo</th>
                    <th>Dias de retencion del registro</th>
                </tr>
                <tr>
                    <td>{{ polling_config.poll_interval }}</td>
                    <td>{{ polling_config.history_truncate_days }}</td>
                </tr>
            </table>
        </div>
        <div class="box">
            <p class="title">Actualizar intervalo de monitoreo</p>
            <form method="POST" action="{% url 'monitor:configure_polling' %}" novalidate>
                {% csrf_token %}
                <div class="field">
                    <label class="label">{{ form.poll_interval.label }}</label>
                    <div class="control">
                        {{ form.poll_interval }}
                        <p class="help">La cantidad de tiempo en segundos entre los hosts de sondeo</p>
                    </div>
                    {% if form.poll_interval.errors %}
                        <p class="help is-danger">
                            {% for error in form.poll_interval.errors %}
                                {{ error }}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
                <div class="field">
                    <label class="label">{{ form.history_truncate_days.label }}</label>
                    <div class="control">
                        {{ form.history_truncate_days }}
                        <p class="help">La cantidad de días para mantener registros del historial de encuestas para cada
                            host.</p>
                    </div>
                    {% if form.history_truncate_days.errors %}
                        <p class="help is-danger">
                            {% for error in form.history_truncate_days.errors %}
                                {{ error }}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
                <div class="control">
                    <button type="submit" class="button is-info is-medium">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        // Update placeholders to current polling config values
        $(document).ready(function () {
            $("#id_poll_interval").attr("placeholder", "{{ polling_config.poll_interval }}")
            $("#id_history_truncate_days").attr("placeholder", "{{ polling_config.history_truncate_days }}")
        })
    </script>
{% endblock %}